<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mdpcw2.mytracker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".track_activity" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"/>

        <provider
            android:name=".non_activity.MyContentProvider"
            android:authorities="mdpcw2.mytracker.non_activity.MyContentProvider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".setGoal_activity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".done_activity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".history_activity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".detail_activity" android:configChanges="keyboardHidden|orientation"/>

        <service
            android:name=".non_activity.TrackerService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>